.button {
	&--large {
		width: 100%;
		margin-top: vw(20);
		margin-bottom: vw(30);
		text-transform: uppercase;
		padding: vw(17) 0 vw(20);
		font-size: vw(14);
		font-weight: 500;
		border-radius: vw(100);
		height: vw(56);
		letter-spacing: 0.1px;
		@media screen and (max-width: 1024px) {
			height: vmin(32);
			padding: vmin(5) vmin(45);
			font-size: vmin(10);
		}
	}
	&--input {
		margin-bottom: vw(35);
		padding: vw(17) 0;
		background: #ffffff;
		border: none;
		border-bottom: vw(1) solid #dddddd;
		box-sizing: border-box;
		border-radius: 0;
		font-style: normal;
		font-weight: normal;
		letter-spacing: 0.114286px;
		height: vw(50);
		border-right-width: 0 !important;

		@media screen and (max-width: 1024px) {
			height: vmin(30);
			padding: vmin(5) 0;
		}

		input {
			font-size: vw(16);
			line-height: vw(19);
			@media screen and (max-width: 1024px) {
				font-size: vmin(16);
				line-height: vmin(19);
			}
		}

		.ant-input-prefix {
			margin-right: vw(10);
			@media screen and (max-width: 1024px) {
				margin-right: vmin(10);
			}

			svg {
				width: vw(14);
				height: vw(14);
				@media screen and (max-width: 1024px) {
					width: vmin(14);
					height: vmin(14);
				}
			}
		}
	}
}

