.auth {
	padding: vw(40) vw(90);
	min-height: 100%;
	box-sizing: border-box;
	@media screen and (max-width: 1024px) {
		padding: vmin(40) vmin(40);
	}
	* {
		padding: 0;
		margin: 0;
	}

	&__content {
		padding-top: vw(100);
		padding-right: vw(0);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__column {
		width: 50%;
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
	}

	&__img {
		width: vw(744);
		@media screen and (max-width: 1024px) {
			width: 100%;
		}
	}
	&__header {
		max-width: vw(350);
		margin: 0 auto vw(50);
		@media screen and (max-width: 1024px) {
			max-width: vmin(350);
			margin: 0 auto vmin(50);
		}
	}
	&__title {
		text-transform: uppercase;
		font-style: normal;
		font-weight: 500;
		font-size: vw(25);
		line-height: vw(33);
		@media screen and (max-width: 1024px) {
			font-size: vmin(25);
			line-height: vmin(33);
		}
	}

	&__register-link {
		display: block;
		text-align: center;
		color: #adadad;
		font-size: vw(16);
		@media screen and (max-width: 1024px) {
			font-size: vmin(12);
		}
	}

	&__confirm {
		padding-top: vw(70);
		text-align: center;
		&-icon {
			display: inline-block;
			width: vw(100);
			height: vw(100);
			@media screen and (max-width: 1024px) {
				width: vmin(100);
				height: vmin(100);
			}
		}
		&-title {
			margin: vw(10) 0;
			font-style: normal;
			font-weight: normal;
			font-size: vw(22);
			line-height: vw(25);
			@media screen and (max-width: 1024px) {
				font-size: vmin(22);
				line-height: vmin(25);
			}
		}
		&-info {
			font-style: normal;
			font-weight: 300;
			font-size: vw(14);
			line-height: vw(26);
			text-align: center;
			letter-spacing: 0.1px;
			mix-blend-mode: normal;
			opacity: 0.5;
			@media screen and (max-width: 1024px) {
				font-size: vmin(14);
				line-height: vmin(26);
			}
		}
	}
	.title {
		position: relative;
		&::before {
			position: absolute;
			bottom: vw(-10);
			content: "";
			width: vw(29);
			height: vw(6);
			background-color: #40a9ff;
			@media screen and (max-width: 1024px) {
				width: vmin(30);
				height: vmin(4);
			}
		}
	}
	.ant-form-item-children-icon {
		svg {
			top: vw(-20) !important;
			width: vw(20);
			height: vw(20);
		}
	}
	.ant-input-affix-wrapper-focused {
		border-color: #40a9ff;
		border-right-width: 0 !important;
		outline: 0;
		box-shadow: 0 0 0 0;
	}

	.ant-form-item-explain {
		text-align: left;
		margin-top: vw(-30);
		font-size: vw(14);
		@media screen and (max-width: 1024px) {
			font-size: vmin(14);
		}
	}

	.ant-form-item-has-error .ant-input:focus,
	.ant-form-item-has-error .ant-input-affix-wrapper:focus,
	.ant-form-item-has-error .ant-input-focused,
	.ant-form-item-has-error .ant-input-affix-wrapper-focused {
		box-shadow: 0 0 0 0;
	}
}
