.authForm {
	max-height: vw(356);
	max-width: vw(350);
	margin: auto;
	background: #fff;
	border-radius: 3px;
	@media screen and (max-width: 1024px) {
		max-height: vmin(356);
		max-width: vmin(350);
	}
}
