@import "~styles/helpers/variables";
.message {
	$self: &;
	display: flex;
	margin-bottom: vw(15);
	&__avatar {
		display: flex;
		flex-direction: column-reverse;
		img {
			border-radius: 50%;
			max-width: vw(40);
			max-height: vw(40);
			margin-right: vw(13);
			margin-bottom: vw(15);
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__bubble {
		max-width: vw(440);
		background: $blue;
		box-shadow: 0 vw(5) vw(5) rgba(54, 116, 255, 0.196733);
		border-radius: vw(12) vw(12) vw(12) 0;
		margin-bottom: vw(8);
		padding: vw(15);
	}

	&__text {
		font-size: vw(14);
		line-height: vw(20);
		color: $white;
		margin: 0;
	}

	&__attachments {
		display: flex;
		&-item {
			margin-right: vw(7);
			margin-bottom: vw(8);
			cursor: pointer;
			img {
				border-radius: vw(10);
				width: vw(50);
				height: vw(50);
				transition: 0.3s;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	&__date {
		font-style: normal;
		font-weight: normal;
		font-size: vw(12);
		line-height: vw(14);
		mix-blend-mode: normal;
		opacity: 0.5;
	}

	&-isMe {
		display: flex;
		flex-direction: row-reverse;
		#{$self}__content {
			margin-bottom: vw(15);
		}
		#{$self}__readed,
		#{$self}__unreaded {
			position: absolute;
			left: vw(-30);
			bottom: vw(22);
			width: vw(18);
		}
		#{$self}__avatar {
			margin-bottom: vw(15);
			text-align: right;
			img {
				margin-right: 0;
				margin-left: vw(13);
			}
		}
		#{$self}__bubble {
			background: #ffffff;
			border: vw(1) solid #ececec;
			box-shadow: 0 vw(4) vw(4) rgba(0, 0, 0, 0.0220444);
			border-radius: vw(12) vw(12) 0 vw(12);
		}
		#{$self}__text {
			color: $black;
			font-family: "Roboto";
		}
		#{$self}__date {
			text-align: right;
		}
	}
}
